<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Titulo de progressbar</h3>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width]="progreso +'%'" [attr.ariaValueNow]="progreso" aria-valuemin="0" aria-valuemax="100">{{progreso}}%</div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" [style.width]="progreso2 +'%'" [attr.ariaValueNow]="progreso" aria-valuemin="0" aria-valuemax="100">{{progreso2}}%</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementator (cambioValor)="progreso=$event" [leyenda]="leyenda" [progreso]="progreso"></app-incrementator>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementator (cambioValor)="progreso2=$event" [leyenda]="leyenda2" [progreso]="progreso2"></app-incrementator>
            </div>
        </div>
    </div>
</div>