<h3>{{leyenda}} - {{progreso}}</h3>
<div class="input-group">
    <button class="input-group-addon btn btn-secondary" id="prefixId1" (click)="cambiarValor(-5)">
        <i class="mdi mdi-minus"></i>
    </button>
    <input #txtProgress type="number" name="name" id="name" class="form-control text-center" placeholder="" aria-describedby="prefixId" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="1" max="100">
    <button class="input-group-addon btn btn-secondary" id="prefixId2" (click)="cambiarValor(+5)">
        <i class="mdi mdi-plus"></i>
    </button>
</div>