<div class="card">
    <div class="card-body">
        <h3>{{leyenda}}</h3>
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
        </canvas>
    </div>
</div>