<div class="container">
    <div class="row">
        <div class="col-6">
            <app-grafico-dona [leyenda]="graficos.grafico1.leyenda" [doughnutChartLabels]="graficos.grafico1.labels" [doughnutChartData]="graficos.grafico1.data" [doughnutChartType]="graficos.grafico1.type"></app-grafico-dona>
        </div>
        <div class="col-6">
            <app-grafico-dona [leyenda]="graficos.grafico2.leyenda" [doughnutChartLabels]="graficos.grafico2.labels" [doughnutChartData]="graficos.grafico2.data" [doughnutChartType]="graficos.grafico2.type"></app-grafico-dona>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-grafico-dona [leyenda]="graficos.grafico3.leyenda" [doughnutChartLabels]="graficos.grafico3.labels" [doughnutChartData]="graficos.grafico3.data" [doughnutChartType]="graficos.grafico3.type"></app-grafico-dona>
        </div>
        <div class="col-6">
            <app-grafico-dona [leyenda]="graficos.grafico4.leyenda" [doughnutChartLabels]="graficos.grafico4.labels" [doughnutChartData]="graficos.grafico4.data" [doughnutChartType]="graficos.grafico4.type"></app-grafico-dona>
        </div>
    </div>
</div>